<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.qydemo0"
    android:requestLegacyExternalStorage="true">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Qydemo0"
        android:usesCleartextTraffic="true">
        <activity android:name=".SimplePlayerActivity"></activity>
        <activity android:name=".AiUnit.FaceFerActivity" />
        <activity android:name=".RenderQueueActivity" />
        <activity android:name=".UserDetailActivity"></activity>
        <activity android:name=".FollowerAndFanActivity" />
        <activity android:name=".Test123" />
        <activity android:name=".RenderQueueActivity" />
        <activity
            android:name=".GameActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait" />
        <activity android:name=".UploadPostActivity" />
        <activity android:name=".LearningListActivity" />
        <activity android:name=".testStyle" />
        <activity android:name=".DetailPostActivity" />
        <activity android:name=".VideoRenderActivity" />
        <activity
            android:name=".FreeDanceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LearnDanceActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".UserSettingActivity" />

        <activity android:name=".UploadActivity" />

        <activity
            android:name=".PlayerActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
            android:screenOrientation="portrait" />

        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ImageSelectorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".PreviewActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ClipImageActivity" />
    </application>

</manifest>